// Paths
$path-asset-root: "../";
$path-asset-images: "../images/";

:root {
    //Colors
    --clr-white: rgba(255, 255, 255, 1);
    --clr-gray-100: rgba(248, 244, 246, 1);
    --clr-gray-200: rgba(229, 231, 235, 1);
    --clr-gray-400: rgba(156, 163, 175, 1);
    --clr-gray-500: rgba(107, 114, 128, 1);

    --clr-primary: rgba(32, 29, 52, 1);

    --clr-accent: rgba(245, 51, 115, 1);
    --clr-purple: #bf51e8;
    --clr-green: rgba(52, 211, 153, 1);

    --clr-body: var(--clr-white);
    --clr-footer: var(--clr-primary);

    // Font families
    --ff-primary: Roboto, sans-serif;

    //Font weight
    --fw-thin: 100;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-semibold: 600;
    --fw-bold: 700;

    // Borders
    --border-100: 1px solid;
    --border-200: 2px solid;
    --border-800: 8px solid;

    // Transition timings
    --transition-regular: 0.1s;
    --transition-medium: 0.15s;
    --transition-long: 0.2s;

}

// @media (prefers-color-scheme: dark) {
//     :root {
//         --clr-white: rgba(32, 29, 52, 1);

//         --clr-primary: rgba(255, 255, 255, 1);
//     }
// }

.darkmode {
    // --clr-white: rgba(32, 29, 52, 1);

    --clr-primary: rgba(255, 255, 255, 1);

    // --clr-primary: rgba(32, 29, 52, 1);

    --clr-body: rgba(32, 29, 52, 1);
}

// Breakpoints
$breakpoints: (
    xs: (dir: min, size: 320px),
    s: (dir: min, size: 480px),
    sm: (dir: min, size: 576px),
    md: (dir: min, size: 768px),
    lg: (dir: min, size: 992px),
    xl: (dir: min, size: 1200px),
);

